#root {
  background: #000000;
}

.annotation {
  background: #181c20;
  color: #fcf2f4;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: var(--leva-fonts-mono);
}

.content {
  padding-top: 10px;
  transform: translate3d(calc(50% + 4px), 0, 0);
  text-align: left;
  background: #202035;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
